<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>480868641040-nnjhtp8lni9qngubehjpuqbaqqumn5rm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.480868641040-nnjhtp8lni9qngubehjpuqbaqqumn5rm</string>
	<key>API_KEY</key>
	<string>AIzaSyDCHAs0MpH8sdJuqL2oQkrlYf47NNp2phU</string>
	<key>GCM_SENDER_ID</key>
	<string>480868641040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>robin.Here-innovation</string>
	<key>PROJECT_ID</key>
	<string>here-c305f</string>
	<key>STORAGE_BUCKET</key>
	<string>here-c305f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480868641040:ios:2e63e989576673c1</string>
	<key>DATABASE_URL</key>
	<string>https://here-c305f.firebaseio.com</string>
</dict>
</plist>